<?php
// api/env.php.example
// RENAME THIS FILE TO env.php ON YOUR HOSTING SERVER

return [
    'DB_HOST' => 'DB_HOST_HERE',
    'DB_PORT' => '5432',
    'DB_NAME' => 'DB_NAME_HERE',
    'DB_USER' => 'DB_USER_HERE',
    'DB_PASS' => 'DB_PASSWORD_HERE',
    
    // API Keys
    'OPENWEATHER_API_KEY' => 'YOUR_OPENWEATHER_KEY_HERE',
    'WAQI_API_KEY' => 'YOUR_WAQI_KEY_HERE'
];
?>
